@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #hamburger {
        display: block !important;
    }
    #mainButtons {
        display: none;
    }
}
@media only screen and (min-width : 481px) {
    #hamburgerButtons {
        display: none !important;
    }
}
@media only screen and (max-width : 768px) {
    #header button {
        font-size: 20px !important;
    }
}

* {
    margin: 0px;
    padding: 0px;
    transition-duration: 250ms;
    font-family: "Plus Jakarta Sans", sans-serif;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#header {
    background-color: rebeccapurple;
    padding: 5px;
    min-height: 20px;
    position: sticky;
}
#hamburgerButtons {
    background-color: rebeccapurple;
    position: fixed;
    top: 60px;
    width: 70%;
    height: 100%;
    display: none;
}
#hamburgerButtons button {
    display: block;
}
#header button, #hamburgerButtons button {
    transition-duration: 250ms;
    padding: 5px;
    border-radius: 5px;
    /*font-size: 2vmax;*/
    border-style: none;
    background-color: transparent;
    color: rgb(233, 231, 231);
    font-size: 25px;
    margin: 5px;
    height: 40px;
}
#header button:hover, #hamburgerButtons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
#alert {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 2vmin;
    background-color: orange;
    border-radius: 10px;
}
#alert img {
    height: 40px;
    float: left;
    vertical-align: middle;
}
#alert p {
    clear: right;
    vertical-align:middle;
}
#showcase {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    aspect-ratio: 1000/300;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#showcase img {
    position: absolute;
    width: 100%;
    
}
#showcase p {
    position: absolute;
    text-align: right;
    bottom: 2%;
    right: 1%;
    font-size: 1.5vmax;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}


#logoText {
    font-size: 7vw;
    text-align: center;
}

#hamburger {
    display: none;
}

.list {
    padding: 5px;
    background-color: rgb(235, 235, 235);
    min-width: 10px;
    min-height: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.item {
    height: 120px;
    width: 100px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
.item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.item p {
    float: left;
    text-align: center;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.social {
    padding: 5px;
    background-color: rgb(235, 235, 235);

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
}
.social a {
    display: block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    display: inline-block;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}
.social a:hover {
    border-color: grey;
}
