@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    transition-duration: 250ms;
    font-family: "Plus Jakarta Sans", sans-serif;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#header {
    background-color: rebeccapurple;
    padding: 5px;
    max-height: 40px;
    
}
#header button {
    transition-duration: 250ms;
    padding: 5px;
    border-radius: 5px;
    /*font-size: 2vmax;*/
    border-style: none;
    background-color: transparent;
    color: rgb(233, 231, 231);
    font-size: 40px;
    line-height: 0em;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 40px;
    height: 5vw;
}
#header button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
#alert {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 2vmin;
    background-color: orange;
    border-radius: 10px;
}
#alert img {
    height: 40px;
    float: left;
    vertical-align: middle;
}
#alert p {
    clear: right;
    vertical-align:middle;
}
#showcase {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    aspect-ratio: 1000/300;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#showcase img {
    position: absolute;
    width: 100%;
    
}
#showcase p {
    position: absolute;
    text-align: right;
    bottom: 2%;
    right: 1%;
    font-size: 1.5vmax;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}


#logoText {
    font-size: 7vw;
    text-align: center;
}